

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device=width" />
    <title>
      Model Deme 
    </title>
</head>
<body>
    <h2>Employee Data</h2>
    @*<h3> @ViewBag.emp.EmpId</h3>
        <h3> @ViewBag.emp.EmpName</h3>
        <h3> @ViewBag.emp.Salary</h3>*@

    @*@{
        Employees emp = ViewData["emp"] as Employees;
    }
    @emp.EmpId<br />
    @emp.EmpName<br />
    @emp.Salary<br />*@

</body>

</html>


